<a href="https://colab.research.google.com/github/bducloudandai/Intro-to-Programming-Python-/blob/main/Intro_to_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2022 프로그래밍 입문

## 1주차 3강 < 코랩 활용하기 >

In [ ]:
print("Hello,world!")

Hello,world!

## 2주차 1강 < 변수의 개념 익히기 >

In [ ]:
print(100 + 200)

300

In [ ]:
a = 200
b = 200
c = a + b
print(a, "+", b, "=", c)

200 + 200 = 400

## 2주차 2강 < 변수의 선언과 값의 대입 >

### (1) 올바른 값의 대입

In [ ]:
num1 = 100
num2 = 100
result = num1 - num2
print(result)

result = num1 + 200
print(result)

0
300

### (2) 잘못된 값의 대입

In [ ]:
100 = num1 + num2

SyntaxError: ignored

In [ ]:
num1 + num2 = result

SyntaxError: ignored

## 2주차 3강 < 변수를 사용한 코드 출력 >

###(1) 숫자 출력

In [ ]:
# 뺄셈연산
num1 = 100
num2 = 50
result = num1 - num2
print(num1, "-", num2, "=", result)

# 곱셈연산
result = num1 * num2
print(num1, "x", num2, "=", result)

# 나눗셈연산
result = num1 / num2
print(num1, "÷", num2, "=", result)

100 - 50 = 50
100 x 50 = 5000
100 ÷ 50 = 2.0

### (2) 문자열 출력

In [ ]:
str1 = '난생처음'
str2 = "파이썬"
result = str1 + str2
print(result)

result = str1 * str2
print(result)

난생처음파이썬

TypeError: ignored

## 3주차 1강 < 변수명 규칙 >

In [ ]:
# 변수명은 영문 및 숫자만 사용

a = 100
abcd = 200
zzzz = 300
p1234 = 400

# 단, 영문으로 시작해야 함
#333 = 100
#3abcd = 200

# 변수명에 언더바(_)사용 가능
input_number = 100
_number = 200
_data_ = 300
__my__ = 400
_1234 = 500

# 변수명은 대문자와 소문자를 구분
mynumber = 100
MYNUMBER = 200
Mynumber = 300
myNumber = 400

# 변수명에 예약어 사용 불가
#if = 100

## 3주차 3강 < [LAB]간단한 사칙연산 계산기 만들기 >

In [ ]:
# 2. 두 변수를 준비하고 숫자를 대입하기 
num1 = 400
num2 = 100

# 3. 두 수를 사칙연산한는 코드를 추가하기
result1 = num1 + num2
result2 = num1 - num2
result3 = num1 * num2
result4 = num1 / num2

# 4. 사칙연산 결과를 출력하는 코드를 추가하기
print(num1, "+", num2, "=", result1)
print(num1, "-", num2, "=", result2)
print(num1, "*", num2, "=", result3)
print(num1, "/", num2, "=", result4)

400 + 100 = 500
400 - 100 = 300
400 * 100 = 40000
400 / 100 = 4.0

## 4주차 1강 < 숫자 입력받고 출력하기 >

### (1) Input() 함수 활용

In [ ]:
num1 = input()

num2 = input("숫자==>")

result1 = num1 + num2

print(result1)

100
숫자==>200
100200

### (2) 정수로 변환하는 int() 함수

In [ ]:
num1 = int(input("숫자1 ==>"))

num2 = int(input("숫자2 ==>"))

result = num1 + num2

print(result)

숫자1 ==>100
숫자2 ==>200
300

**굵은 텍스트**## 4주차 2강 <문자열 입력받고 출력하기>

## 4주차 2강 < 문자열 입력받고 출력하기 >

### (1) 사용자에게 문자열을 입력받아 출력하기

In [ ]:

userName = input("이름 ==> ")

userPhone = input("전화번호 ==> ")

print("제 이름은", userName, "이고, 연락처는", userPhone, "입니다.")

#f-string 포맷팅은 파이썬 버전 3.6 부터 사용할 수 있는 기능
# 문자열 포매팅이란, 문자열 안에 어떤 값이나 변수 따위를 삽입하는 방법
# f'문자열 {변수} 문자열'

print(f'제 이름은 {userName} 이고, 연락처는 {userPhone} 입니다.')

이름 ==> 홍길동
전화번호 ==> 000-0000-0000
제 이름은 홍길동 이고, 연락처는 000-0000-0000 입니다.
제 이름은 홍길동 이고, 연락처는 000-0000-0000 입니다.

### (2) [실습] 택배 배송 정보 입력하기

In [ ]:
# 1. 받는 사람, 주소, 무게를 저장할 변수를 선언하기
print("## 택배를 보내기 위한 정보를 입력하세요. ##")

personName = input("받는 사람 :")

personAddr = input("주소 : ")

weight = int(input("무게(g) : "))

# 2. print( ) 함수로 받는 사람과 주소를 출력하기

print("** 받는 사람 ==> ", personName)

print("** 주소 ==>", personAddr)

# 3. 배송비는 무게의 그램(g)당 5원이므로 무게에 5를 곱하여 출력하기

print("** 배송비 ==>", weight*5, "원")

## 택배를 보내기 위한 정보를 입력하세요. ##
받는 사람 :홍길동
주소 : 부산시
무게(g) : 100
** 받는 사람 ==>  홍길동
** 주소 ==> 부산시
** 배송비 ==> 500 원

## 4주차 3강 < [LAB] 숫자를 입력하는 계산기 만들기 >

### (1) [LAB] 숫자를 입력하는 계산기 만들기

In [ ]:
# 2. 두 변수를 준비하고 키보드로 입력받을 수 있도록 코딩하기
num1 = int(input("숫자1 ==>"))
num2 = int(input("숫자2 ==>"))

# 3. 두 수를 계산하는 코드를 그 아래에 추가하기 
result1 = num1 + num2
result2 = num1 - num2
result3 = num1 * num2
result4 = num1 / num2
result5 = num1 % num2
result6 = num1 ** num2

# 4. 사칙연산 결과를 출력하는 코드를 추가하기
print(num1, "+", num2, "=", result1)
print(num1, "-", num2, "=", result2)
print(num1, "*", num2, "=", result3)
print(num1, "/", num2, "=", result4)
print(num1, "%", num2, "=", result5)
print(num1, "**", num2, "=", result6)

숫자1 ==>10
숫자2 ==>3
10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10 % 3 = 1
10 ** 3 = 1000

### (2) 함수를 이용한 계산기 만들기

In [ ]:
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
def multiply(x, y):
    return x * y
def divide(x, y):
    return x / y
print("사칙연산을 선택 하세요.")
print("1.더하기")
print("2.빼기")
print("3.곱하기")
print("4.나누기")
choice = input("선택 하세요(1/2/3/4):")
num1 = int(input("첫번째 숫자 : "))
num2 = int(input("두번째 숫자 : "))
if choice == '1':
    print(num1,"+",num2,"=", add(num1,num2))
elif choice == '2':
    print(num1,"-",num2,"=", subtract(num1,num2))
elif choice == '3':
    print(num1,"*",num2,"=", multiply(num1,num2))
elif choice == '4':
    print(num1,"/",num2,"=", divide(num1,num2))
else:
    print("잘못된 선택")

사칙연산을 선택 하세요.
1.더하기
2.빼기
3.곱하기
4.나누기
선택 하세요(1/2/3/4):1
첫번째 숫자 : 5
두번째 숫자 : 4
5 + 4 = 9

## 5주차 1강 < 산술연산자 우선순위 실습하기 >

In [ ]:
# 1. 더하기와 빼기가 동시에 나오는 경우

a, b, c = 3, 4, 5

print( a + b - c )

print( a - c + b )

print( -c + a + b )

2
2
2

In [ ]:
#2. 곱하기와 나누기가 동시에 나오는 경우

a, b, c = 2, 4, 6

print( a / b * c )

print( a * c / b )

print( c / b * a )

3.0
3.0
3.0

In [ ]:
#3. 더하기와 곱하기가 동시에 나오는 경우

a, b, c = 3, 4, 5

print(a * b + c)

print( c + a * b )

print((c + a) * b)

17
17
32

## 5주차 2강 <몫과 나머지 연산자, 제곱 연산자>

In [ ]:
# 나누기(몫) 연산자

q = 5 // 3
print(q)

# 나머지 연산자 

r = 5 % 3
print(r)

# 제곱 연산자 

num = 5 ** 3
print(num)

# 제곱근 계산하기
square_root = 100 ** (1/2)
print(square_root)

import math
square_1 = math.sqrt(100)
print(square_1)
math.

1
2
125
10.0
10.0

In [ ]:
num1 = int(input("나눠지는 수 ==>"))
num2 = int(input("나누는 수 ==>"))

result1 = num1 // num2
result2 = num1 % num2

print(num1, "을(를)", num2, "(으)로 나눈 몫은", result1, "입니다.")
print(num1, "을(를)", num2, "(으)로 나눈 나머지는", result2, "입니다.")

나눠지는 수 ==>25
나누는 수 ==>10
25 을(를) 10 (으)로 나눈 몫은 2 입니다.
25 을(를) 10 (으)로 나눈 나머지는 5 입니다.

## 5주차 3강 < [LAB]덤벨의 파운드를 kg으로 환산하기 >

In [ ]:
# 2. 파운드 단위의 값을 입력받아 킬로그램으로 변환

pound = int(input("파운드(lb)를 입력하세요 : "))

kg = pound * 0.453592

print(pound, "파운드(lb)는", kg, "킬로그램(kg) 입니다.")

# 3. 킬로그램 단위의 값을 입력받아 파운드로 변환

kg = int(input("킬로그램(kg)을 입력하세요 : "))

pound = kg * 2.204623

print(kg, "킬로그램(kg)은", pound, "파운드(lb) 입니다.")

파운드(lb)를 입력하세요 : 100
100 파운드(lb)는 45.3592 킬로그램(kg) 입니다.
킬로그램(kg)을 입력하세요 : 30
30 킬로그램(kg)은 66.13869000000001 파운드(lb) 입니다.

In [ ]:
# 평(平) <==> 제곱미터(m2)

pyung = int(input("평(平)을 입력하세요 : "))

m_2 = pyung * 3.30579

print(pyung, "평(平)은", m_2, "제곱미터(m2) 입니다.")


m_2 = int(input("제곱미터(m2)를 입력하세요 : "))

pyung = m_2 * 0.3025

print(m_2, "제곱미터(m2)는", pyung, "평(平) 입니다.")

평(平)을 입력하세요 : 33
33 평(平)은 109.09107 제곱미터(m2) 입니다.
제곱미터(m2)를 입력하세요 : 143
143 제곱미터(m2)는 43.2575 평(平) 입니다.

## 6주차 1강 < 여러 개의 대입 연산자 실습하기 >

In [ ]:
# 정상적인 대입 방법
num1, num2 = 100, 200

num1, num2 = 100*200, 100+200

num1, num2 = int("100"), 100//5

# 비정상적인 대입 방법

#num1 = 100, 200

#num1, num2 = 100

#num1, num2, num3 = 100, 200

a, b, c = 10

## 6주차 2강 < 복합 대입 연산자 실습하기 >

In [ ]:
num1 = 100

num1 += 200 # num1 = num1 + 200

print(num1)


num = 20

num += 3; print(num) # num = num + 3
num -= 3; print(num) # num = num - 3
num *= 3; print(num) # num = num * 3
num /= 3; print(num) # num = num / 3
num //= 3; print(num) # num = num // 3
num %= 3; print(num) # num = num % 3
num **= 3; print(num) # num = num ** 3

300
23
20
60
20.0
6.0
0.0
0.0

In [ ]:
# 복합 대입 연산자의 활용

# a *= 3 + 2의 결과는? (연산순서 주의)

a = 10
print('a ==>', a)

a *= 3 + 2

# a = a * 3 + 2 일까요?  32
# a = a * (3 + 2) 일까요? 50

print('a ==>', a)

# 대입 연산자는 우변이 제일 먼저 계산

a ==> 10
a ==> 50

## 6주차 3강 < [LAB] 편의점 하루 매출 계산하기 >

In [ ]:
# 2. 총 매출액 변수 total을 0으로 초기화

total = 0

# 3. 구입한 물품은 구입 가격에 개수를 곱한 후 총 매출액에서 빼기
# 삼각김밥(900) 10개 구입
# 도시락(3500원) 5개 구입

total -= 900*10 # total = total - 900 * 10
total -= 3500*5 # total = total - 3500 * 5

# 4. 판매한 물품은 판매 가격에 개수를 곱한 후, 총 매출액에 더하기
# 바나나맛 우유(1800) 2개 판매
# 도시락(4000원) 4개 판매
# 콜라(1500원) 1개 판매
# 새우깡(2000원) 4개 판매
# 캔커피(1800원) 5개 판매

total += 1800*2 # total = total + 1800 * 2
total += 4000*4
total += 1500*1
total += 2000*4
total += 1800*5

# 5. 총 매출액을 출력하기

print("오늘 총 매출액은", total, "원 입니다. ")

오늘 총 매출액은 11600 원 입니다.

In [ ]:
prompt = """
1. 구입
2. 판매
3. 현 매출액
4. Quit(종료)

Enter Number : """

total = 0
number = 0

while number != 4:
  print(prompt)
  number = int(input())
  if number == 1:
    total -= int(input("금액을 입력하세요 ==> "))
    print("현재 총 매출액은 ", total, "원 입니다.")
  elif number == 2:
    total += int(input("금액을 입려하세요 ==> "))
    print("현재 총 매출액은 ", total, "원 입니다.")
  elif number == 3:
    print("현재 총 매출액은 ", total, "원 입니다.")
  else : 
    print("오늘의 총 매출액은 ", total,"원 입니다.")

1. 구입
2. 판매
3. 현 매출액
4. Quit(종료)

Enter Number :
1
금액을 입력하세요 ==> 1000
현재 총 매출액은  -1000 원 입니다.

1. 구입
2. 판매
3. 현 매출액
4. Quit(종료)

Enter Number :
1
금액을 입력하세요 ==> 3000
현재 총 매출액은  -4000 원 입니다.

1. 구입
2. 판매
3. 현 매출액
4. Quit(종료)

Enter Number :
2
금액을 입려하세요 ==> 500
현재 총 매출액은  -3500 원 입니다.

1. 구입
2. 판매
3. 현 매출액
4. Quit(종료)

Enter Number :
2
금액을 입려하세요 ==> 6000
현재 총 매출액은  2500 원 입니다.

1. 구입
2. 판매
3. 현 매출액
4. Quit(종료)

Enter Number :
4
오늘의 총 매출액은  2500 원 입니다.

## 7주차 1강 < 비교연산자의 활용 >

In [ ]:
score = int(input("필기 시험점수를 입력하세요 ==> "))

print(score >= 70)

필기 시험점수를 입력하세요 ==> 70
True

In [ ]:
## == 같다
## != 같지 않다
## > 크다, >= 크거나 같다
## < 작다, <= 작거나 같다

n1 = 100
n2 = 100

print(n1 == n2, n1 != n2)

print(n1 > n2, n1 < n2 )

print(n1 >= n2, n1 <= n2)

True False
False False
True True

## 7주차 2강 < 논리연산자의 활용 >

In [ ]:
# 만약 num 변수의 값이 10과 20사이에 있어야 한다. 
# num은 10보다 커야 한다. (참)
# num은 20보다 작아야 한다. (참)

(num > 10) and (num < 20)

# and : 둘 다 참이어야 참
 (num > 10) and (num < 20)
# or : 둘 중에 하나만 참이어도 참
 (num == 10) or (num == 20)
# not : 부정(NOT), 참이면 거짓, 거짓이면 참
 not(num < 100)

In [ ]:
num = 99

# AND
(num > 100) and (num < 200) # false and true

# OR
(num == 99) or (num == 100) # true or false

# NOT
not(num == 100) # not(false)

True

## 7주차 3강 < [LAB] 기말 평균 학점 구하기 >

In [ ]:
# 2. 파이썬, 모바일, 엑셀 변수에 각각의 이수학점을 넣어 선언하기

python, mobile, excel = 3, 2, 1

# 3. A, A0, B 학점에 대응하는 점수를 넣어 선언하기
A = 4.5
A0 = 4.0
B = 3.5

# 4. 과목과 해당하는 점수를 곱하여, 전체 학점 점수로 나누기

avg = ((python * B) + (mobile * A0) + (excel * A)) / (python + mobile + excel)
          # (A + B + C) / D

# 5. 평균 학점을 출력
print("평균 학점 : ", avg)

평균 학점 :  3.8333333333333335

## 9주차 1강 < 데이터형 확인하기(type()) >

In [ ]:
# 정수형 : int
# 실수형 : float
# 문자형 : str
# 불형 : bool 

var1 = 100

type(var1)

var2 = 3.14

type(var2)

var3 = "파이썬"

type(var3)

var4 = False #True

type(var4)

var1 = 100
type(var1)

var1 = "Hello"
type(var1)

# C, Java, C++, C#
var1 = "Hello"

str

## 9주차 2강 < 숫자 데이터 형식 이해하기 >

In [ ]:
# 정수형(int)
# 실수형(float)

# 1. 정수형 : 소수점이 없는 수, 10, -300, 0

# var1 = 1000 ** 1000
# type(var1)

# print(var1)

# 2. 실수형 : 소수점이 있는 수, 3.14, -8.8
var2 = 0.0
type(var2)

# 3. 정수형과 실수형을 계산한 결과의 데이터형은 무엇인가?

# var1 = 100
# var2 = 200
# res = var1 + var2
# print(res)

# type(res)

# var1 = 100.0
# var2 = 200.0
# res = var1 - var2
# print(res)

# type(res)

# var1 = 100.0
# var2 = 200
# res = var1 * var2
# print(res)

# type(res)

var1 = 200
var2 = 200
res = var1 / var2
print(res)

type(res)

bool(0)

1.0

False

## 9주차 3강 < 문자열, 불데이터 형식 >

In [ ]:
# 1. 문자열(String, str) : 글자들의 집합, "파이썬", 'python', '123' 

# var1 = '1234'
# print(var1)

# type(var1)

# var1 = '난생처음 파이썬'
# print(var1)

# type(var1)

# var1 = '''난생처음 파이썬
# 난생처음 파이썬
# 난생처음 파이썬
# '''
# print(var1)

# type(var1)

# 2. 불형(Bool) : 참(True)이나 거짓(False)만 저장할 수 있는 데이터 형식(논리형), if문 주로 사용

# var1 = (100 > 10)
# print(var1)

# type(var1)

# var2 = (100 <= 20)
# print(var2)

# type(var2)

bool(0)

bool("")

False

## 10주차 1강 < 문자열 활용하기 >

### (1) 문자열 만들기

In [ ]:
var1 = '''난생처음
파이썬을
열공 중입니다.'''

print(var1)

var1 = "난생처음"
var2 = "파이썬을"
var3 = "열공중입니다."
print(var1)
print(var2)
print(var3)

난생처음
파이썬을
열공 중입니다.
난생처음
파이썬을
열공중입니다.

###(2) 이스케이프 문자 활용하기

In [ ]:
var1 = """난생
처음"""
print(var1)

var2 = "난생\n처음"
print(var2)

# \n : 새로운 줄로 이동
# \t : 다음 탭으로 이동
# \b : 뒤로 한칸 이동
# \' : '를 출력
# \" : "를 출력
# \\ : \를 출력

print("\n줄바꿈\n연습")
print("\t탭키\t연습")
print("어떤 글자를 \"강조\"하는 효과1")
print("어떤 글자를 \'강조\'하는 효과2")
print("\\\\백슬래시 2개 출력")

난생
처음
난생
처음

줄바꿈
연습
	탭키	연습
어떤 글자를 "강조"하는 효과1
어떤 글자를 '강조'하는 효과2
\\백슬래시 2개 출력

###(3) 문자열 연결하기

In [ ]:
#var1 = "난생 " / "처음 " / "파이썬"
#print(var1)

var1 = "난생" * 3
print(var1)

난생난생난생

## 10주차 2강 < 문자열과 관련된 유용한 함수 >

In [ ]:
# len() : 문자열의 길이를 파악할 때 사용함

var1 = "난생처음! Python"
len(var1)

var1 = input("첫 번째 문자열 ==>")
var2 = input("두 번째 문자열 ==>")

len1 = len(var1)
len2 = len(var2)

diff = len1 - len2

print("두 문자열의 길이 차이는", diff, "입니다.")

FIRST PYTHON을 밤 12시까지 열공 중!
first python을 밤 12시까지 열공 중!

In [ ]:
# upper(), lower()　: 영문 소문자 대문자를 상호 변환

ss = "First Python을 밤 12시까지 열공 중!"
var1 = ss.upper()
print(var1)

var2 = ss.lower()
print(var2)

FIRST PYTHON을 밤 12시까지 열공 중!
first python을 밤 12시까지 열공 중!

In [ ]:
# isupper() : 문자열이 모두 대문자이면 True
# islower() : 문자열이 모두 소문자이면 True 

ss = "first python"
ss.isupper()

ss.islower()

True

In [ ]:
# count() : 어떤 글자가 몇 번 나왔는지 확인
ss = "난생처음 파이썬을 처음으로 학습 중입니다. 파이썬은 처음이지만 재미있네요. ^^"

ss.count("처음")

3

In [ ]:
# find() : 어떤 글자가 몇 번째 위치하는지 확인

# ss = "난생처음 Python"
# ss.find("P")

ss = "난생처음으로 공부하는게 처음이네요"
ss.find("처음", 4) # find("찾을 단어", 시작위치)

13

## 10주차 3강 < 문자열 위치에 접근하기, [LAB] >

### (1) 문자열 위치에 접근하기

In [ ]:
# 문자열[번호]

ss = "Python"

len(ss)

print(ss[6])

IndexError: ignored

### (2) [LAB] 문자열을 거꾸로 출력하는 프로그램

In [ ]:
# 1. ss 변수에 문자열 '트와이스'를 저장하기 
ss = "트와이스"
print("원본 문자열 ==> ",ss)

# 2. 반대 방향으로 출력될 문자열을 표시하기
print("반대 문자열 ==> ", end='') # end='' : 다음 행으로 넘어가서 출력되는 것을 방지

# 3. 마지막 글자인 ss[3]부터 출력하기
print(ss[3], end='')
print(ss[2], end='')
print(ss[1], end='')
print(ss[0], end='')

원본 문자열 ==>  트와이스
반대 문자열 ==> 스이와트

In [ ]:

ss = input("원본 문자열 ==> ")

len1 = len(ss) #파이썬 = 3

print("반대 문자열 ==> ", end='')
for i in range(len1):
  print(ss[len1-(i+1)], end='')

원본 문자열 ==> 파이썬은 재미있습니다.
반대 문자열 ==>  .다니습있미재 은썬이파

## 11주차 2강 < if문 실습 >

In [ ]:
# 1. if문의 사용 형식

num = 99

if num < 100 :
  print("100보다 작습니다.")

# 2. 조건이 참일 때 실행할 문장이 2개인 경우

num = 200

if num > 100 :
    print("100보다")
    print("큽니다.")
print("프로그램 끝")

100보다 작습니다.
100보다
큽니다.
프로그램 끝

## 11주차 3강 < if~else문 실습 >

In [ ]:
# 1. if~else문의 사용 형식

num = int(input("숫자를 입력하시오.==> "))

if num < 100 : # 99 : 참
  print("100보다 작군요.")
else :
  print("100보다 크군요.")
print("프로그램 끝~!")

숫자를 입력하시오.==> 100
100보다 크군요.
프로그램 끝~!

In [ ]:
# 2. if~else문 사용 예제

num = int(input("숫자를 입력 ==> "))

if num % 2 == 0 :
  print("짝수입니다.")
else :
  print("홀수입니다.")

숫자를 입력 ==> 31
홀수입니다.

## 12주차 1강 < 중첩 if문 >

###(1) 중첩 if문 활용(1)

In [ ]:
# ‘100보다 작다’, ‘100에서 1000사이다’, ‘1000보다 크다’로 구분하는 코드

num = int(input("숫자를 입력 ==> "))

if num > 100 : 
  if num < 1000 :
    print("100보다는 크고 1000보다 작군요.")
  else :
    print("와~ 1000보다 크군요.")
else :
  print("음~ 100보다 작군요")

숫자를 입력 ==> 1500
와~ 1000보다 크군요.

###(2) 중첩 if문 활용(2)

In [ ]:
# 90점 이상은 A, 80점 이상은 B, 70점 이상은 C, 60점 이상은 D, 그 외에는 F로 처리하는 프로그램

score = int(input("점수를 입력 ==>"))

if score >= 90 :
  print("A", end='')
else :
  if score >= 80 :
    print("B",end='')
  else :
    if score >=70 :
      print("C", end='')
    else :
      if score >= 60:
        print("D",end='')
      else :
        print("F", end='')

print(" 학점 입니다. ")

점수를 입력 ==>65
D 학점 입니다.

## 12주 2강 < elif문 >

###(1) elif문 활용

In [ ]:
# 90점 이상은 A, 80점 이상은 B, 70점 이상은 C, 60점 이상은 D, 그 외에는 F로 처리하는 프로그램

score = int(input("점수를 입력 ==> "))

if score >= 90 :
  print("A", end='')
elif score >= 80 :
  print("B", end='')
elif score >= 70 :
  print("C", end='')
elif score >= 60 :
  print("D", end='')
else :
  print("F", end='')

print(" 학점 입니다. ")

점수를 입력 ==> 55
F 학점 입니다.

###(2) [하나 더+ 알기! ] 랜덤한 값 추출하기

In [ ]:
import random


#random.random()

#1~45사이에 무작위 수를 추출
#random.randint(1,45)

# choice() : 여러 개 중 하나를 고름
random.choice(["김밥", "떡볶이", "돈까스", "짜장면"])

random.shuffle

'짜장면'

### 12주 3강 < [LAB] PC방 나이, 가위바위보 게임 >

###(1) [LAB] PC방 나이 제한 검사하기

In [ ]:
# 1. 나이를 입력받기

age = int(input("나이를 입력 ==> "))

# 2. 입력받은 나이가 18살 보다 어리다면 집으로 돌려보낸다. 

if age >= 18 :
  print("즐거운 시간 되세요 ^^")
else :
  print("집에 갈 시간이네요!")

print("협조 감사합니다. ")

나이를 입력 ==> 15
집에 갈 시간이네요!
협조 감사합니다.

### (2) [LAB] 가위바위보 게임하기

In [ ]:
# 1. 컴퓨터가 랜덤하게 가위/바위/보를 내도록 random 모듈을 임포트하기

import random

# 2. 사용자의 가위/바위/보 중 하나를 입력받아 myHand 변수에 저장

myHand = input("나의 가위/바위/보 ==> ")

# 3. 컴퓨터의 가위/바위/보는 랜덤하게 추출하여 comHand에 저장
comHand = random.choice(["가위", "바위", "보"])
print("컴퓨터의 가위/바위/보 ==>", comHand)

if myHand == "가위":
  if comHand == "가위":
    print("비겼습니다.")
  elif comHand =="바위":
    print("졌습니다.")
  elif comHand =="보":
    print("이겼습니다.")
elif myHand == "바위":
  if comHand == "가위":
    print("이겼습니다.")
  elif comHand =="바위":
    print("비겼습니다.")
  elif comHand =="보":
    print("졌습니다.")
elif myHand == "보":
  if comHand == "가위":
    print("졌습니다.")
  elif comHand =="바위":
    print("이겼습니다.")
  elif comHand =="보":
    print("비겼습니다.")
else :
  print("가위/바위/보 중 하나를 내세요.")

나의 가위/바위/보 ==> 가위
컴퓨터의 가위/바위/보 ==> 보
이겼습니다.

## 13주 1강 < for문의 개념 익히기 >

In [ ]:
# for문의 형식
# for 변수 in range(시작값, 끝값+1, 증가값)  1 3+1, 1

#for i in range(1, 11, 1) : # range(0, 3, 1) # 0~2 까지 1씩 증가  i = 0,1,2
  #print("난생처음 파이썬은 재미있습니다. ")
  #print(i, "난생처음 파이썬은 재미있습니다. ")

# 1~30까지 숫자들을 차례대로 출력하기
for i in range(1, 31, 1):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

## 13주 2강 < for문을 이용한 합계 구하기 >

In [ ]:
#for문을 활용한 반복적인 덧셈

# 1부터 10까지 변할 변수 i 준비

# for 변수 i가 1을 시작으로 10까지 1씩 증가 :
#   hap 값에 i값을 더해 줌

# hap의 값을 출력

i = 0
hap = 0

for i in range(1,11,1):
  hap = hap + i # hap = ? hap = 1 
                # 첫번째 : 1 = 0 + 1
                # 두번째 : 3 = 1 + 2
  print(i, end=' ')
  print(hap)

print("1에서 10까지의 합 : ", hap)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
1에서 10까지의 합 :  55

In [ ]:
# 홀수의 합을 구하는 프로그램
# 1000~2000 사이에서 홀수의 합을 구하는 프로그램

i, hap = 0, 0
for i in range(1001, 2001, 2) :
  hap += i # hap = hap + i
  print(i , hap)

print("1000에서 2000까지의 홀수의 합 :", hap)

1001 1001
1003 2004
1005 3009
1007 4016
1009 5025
1011 6036
1013 7049
1015 8064
1017 9081
1019 10100
1021 11121
1023 12144
1025 13169
1027 14196
1029 15225
1031 16256
1033 17289
1035 18324
1037 19361
1039 20400
1041 21441
1043 22484
1045 23529
1047 24576
1049 25625
1051 26676
1053 27729
1055 28784
1057 29841
1059 30900
1061 31961
1063 33024
1065 34089
1067 35156
1069 36225
1071 37296
1073 38369
1075 39444
1077 40521
1079 41600
1081 42681
1083 43764
1085 44849
1087 45936
1089 47025
1091 48116
1093 49209
1095 50304
1097 51401
1099 52500
1101 53601
1103 54704
1105 55809
1107 56916
1109 58025
1111 59136
1113 60249
1115 61364
1117 62481
1119 63600
1121 64721
1123 65844
1125 66969
1127 68096
1129 69225
1131 70356
1133 71489
1135 72624
1137 73761
1139 74900
1141 76041
1143 77184
1145 78329
1147 79476
1149 80625
1151 81776
1153 82929
1155 84084
1157 85241
1159 86400
1161 87561
1163 88724
1165 89889
1167 91056
1169 92225
1171 93396
1173 94569
1175 95744
1177 96921
1179 98100
1181 99281
1183 100464
1185 101649
1187 102836
1189 104025
1191 105216
1193 106409
1195 107604
1197 108801
1199 110000
1201 111201
1203 112404
1205 113609
1207 114816
1209 116025
1211 117236
1213 118449
1215 119664
1217 120881
1219 122100
1221 123321
1223 124544
1225 125769
1227 126996
1229 128225
1231 129456
1233 130689
1235 131924
1237 133161
1239 134400
1241 135641
1243 136884
1245 138129
1247 139376
1249 140625
1251 141876
1253 143129
1255 144384
1257 145641
1259 146900
1261 148161
1263 149424
1265 150689
1267 151956
1269 153225
1271 154496
1273 155769
1275 157044
1277 158321
1279 159600
1281 160881
1283 162164
1285 163449
1287 164736
1289 166025
1291 167316
1293 168609
1295 169904
1297 171201
1299 172500
1301 173801
1303 175104
1305 176409
1307 177716
1309 179025
1311 180336
1313 181649
1315 182964
1317 184281
1319 185600
1321 186921
1323 188244
1325 189569
1327 190896
1329 192225
1331 193556
1333 194889
1335 196224
1337 197561
1339 198900
1341 200241
1343 201584
1345 202929
1347 204276
1349 205625
1351 206976
1353 208329
1355 209684
1357 211041
1359 212400
1361 213761
1363 215124
1365 216489
1367 217856
1369 219225
1371 220596
1373 221969
1375 223344
1377 224721
1379 226100
1381 227481
1383 228864
1385 230249
1387 231636
1389 233025
1391 234416
1393 235809
1395 237204
1397 238601
1399 240000
1401 241401
1403 242804
1405 244209
1407 245616
1409 247025
1411 248436
1413 249849
1415 251264
1417 252681
1419 254100
1421 255521
1423 256944
1425 258369
1427 259796
1429 261225
1431 262656
1433 264089
1435 265524
1437 266961
1439 268400
1441 269841
1443 271284
1445 272729
1447 274176
1449 275625
1451 277076
1453 278529
1455 279984
1457 281441
1459 282900
1461 284361
1463 285824
1465 287289
1467 288756
1469 290225
1471 291696
1473 293169
1475 294644
1477 296121
1479 297600
1481 299081
1483 300564
1485 302049
1487 303536
1489 305025
1491 306516
1493 308009
1495 309504
1497 311001
1499 312500
1501 314001
1503 315504
1505 317009
1507 318516
1509 320025
1511 321536
1513 323049
1515 324564
1517 326081
1519 327600
1521 329121
1523 330644
1525 332169
1527 333696
1529 335225
1531 336756
1533 338289
1535 339824
1537 341361
1539 342900
1541 344441
1543 345984
1545 347529
1547 349076
1549 350625
1551 352176
1553 353729
1555 355284
1557 356841
1559 358400
1561 359961
1563 361524
1565 363089
1567 364656
1569 366225
1571 367796
1573 369369
1575 370944
1577 372521
1579 374100
1581 375681
1583 377264
1585 378849
1587 380436
1589 382025
1591 383616
1593 385209
1595 386804
1597 388401
1599 390000
1601 391601
1603 393204
1605 394809
1607 396416
1609 398025
1611 399636
1613 401249
1615 402864
1617 404481
1619 406100
1621 407721
1623 409344
1625 410969
1627 412596
1629 414225
1631 415856
1633 417489
1635 419124
1637 420761
1639 422400
1641 424041
1643 425684
1645 427329
1647 428976
1649 430625
1651 432276
1653 433929
1655 435584
1657 437241
1659 438900
1661 440561
1663 442224
1665 443889
1667 445556
1669 447225
1671 448896
1673 450569
1675 452244
1677 453921
1679 455600
1681 457281
1683 458964
1685 460649
1687 462336
1689 464025
1691 465716
1693 467409
1695 469104
1697 470801
1699 472500
1701 474201
1703 475904
1705 477609
1707 479316
1709 481025
1711 482736
1713 484449
1715 486164
1717 487881
1719 489600
1721 491321
1723 493044
1725 494769
1727 496496
1729 498225
1731 499956
1733 501689
1735 503424
1737 505161
1739 506900
1741 508641
1743 510384
1745 512129
1747 513876
1749 515625
1751 517376
1753 519129
1755 520884
1757 522641
1759 524400
1761 526161
1763 527924
1765 529689
1767 531456
1769 533225
1771 534996
1773 536769
1775 538544
1777 540321
1779 542100
1781 543881
1783 545664
1785 547449
1787 549236
1789 551025
1791 552816
1793 554609
1795 556404
1797 558201
1799 560000
1801 561801
1803 563604
1805 565409
1807 567216
1809 569025
1811 570836
1813 572649
1815 574464
1817 576281
1819 578100
1821 579921
1823 581744
1825 583569
1827 585396
1829 587225
1831 589056
1833 590889
1835 592724
1837 594561
1839 596400
1841 598241
1843 600084
1845 601929
1847 603776
1849 605625
1851 607476
1853 609329
1855 611184
1857 613041
1859 614900
1861 616761
1863 618624
1865 620489
1867 622356
1869 624225
1871 626096
1873 627969
1875 629844
1877 631721
1879 633600
1881 635481
1883 637364
1885 639249
1887 641136
1889 643025
1891 644916
1893 646809
1895 648704
1897 650601
1899 652500
1901 654401
1903 656304
1905 658209
1907 660116
1909 662025
1911 663936
1913 665849
1915 667764
1917 669681
1919 671600
1921 673521
1923 675444
1925 677369
1927 679296
1929 681225
1931 683156
1933 685089
1935 687024
1937 688961
1939 690900
1941 692841
1943 694784
1945 696729
1947 698676
1949 700625
1951 702576
1953 704529
1955 706484
1957 708441
1959 710400
1961 712361
1963 714324
1965 716289
1967 718256
1969 720225
1971 722196
1973 724169
1975 726144
1977 728121
1979 730100
1981 732081
1983 734064
1985 736049
1987 738036
1989 740025
1991 742016
1993 744009
1995 746004
1997 748001
1999 750000
1000에서 2000까지의 홀수의 합 : 750000

## 13주차 3강 < 중첩 for문, [LAB] >

### (1) 중첩 for문

In [ ]:
# 행과 열로 만들어졌있음 ==> 배열형태의 

for i in range(0, 3, 1) : # 바깥쪽 for문
  for k in range(0, 2, 1) : # 안쪽 for문
    #print("파이썬은 쉽습니다.(i값:", i, ", k값:", k,")")
    for j in range(0, 2, 1) : # 안쪽2 for문
      print(i, k, j)

0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1
2 0 0
2 0 1
2 1 0
2 1 1

### (2) [LAB] 구구단 계산기 만들기

In [ ]:
# 1. 1행에서 단으로 사용할 변수 i와 곱할 숫자로 사용할 k를 준비

i = 0
k = 0

# 2. 바깥쪽 for문은 2단~9단까지 8번 반복하며, 안쪽 for문은 1~9까지 9번 반복

for i in range(2, 10, 1) :
  for k in range(1, 10, 1) :
    print(i, "X", k, "=", i*k)
  print("")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

## 14주 1강 < 리스트의 활용 >

In [ ]:
#(1) for문을 활용한 리스트
#for문을 활용하여 리스트에 0을 4번 추가하기

# numList = []
# for i in range(0,5) :
#   numList.append(0) # 1 : [0], 2: [0,0] 3: [0,0,0]

# len(numList)
# print(numList)

#for문을 활용하여 리스트를 생성하고 값을 대입하도록 수정하기

numList = []
for i in range(0, 4):
  numList.append(0)

hap = 0

for i in range(0, 4):
  numList[i] = int(input("숫자 : "))

hap = numList[0] + numList[1] + numList[2] + numList[3]

print(numList)
print("합계 ==> ", hap)

숫자 : 30
숫자 : 40
숫자 : 50
숫자 : 60
[30, 40, 50, 60]
합계 ==>  180

In [ ]:
#(2) 리스트 값에 접근하기
#첨자(음수)를 활용한 리스트 접근 방법

numList = [10, 20, 30, 40, 50]

print(numList[-1], numList[-2], numList[-3])

print(numList[0:2]) # 리스트이름[시작 첨자 : 끝 첨자+1] 
print(numList[2:4])
print(numList[1:])
print(numList[:3]) # 리스트이름[ : 끝 첨자+1]

50 40 30
[10, 20]
[30, 40]
[20, 30, 40, 50]
[10, 20, 30]

In [ ]:
#(3) 리스트의 덧셈과 곱셈
#리스트의 덧셈 : 요소들이 합쳐져 하나의 리스트가 됨
numList = [10, 20, 30]
myList = [40, 50, 60]
print(numList + myList)

#리스트의 곱셈 : 곱한 횟수만큼 리스트가 반복됨
print(numList * 3)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 10, 20, 30, 10, 20, 30]

## 14주 2강 < 튜플 활용하기 >

In [ ]:
numTup1 = (10, 20, 30)
print(numTup1)

numTup2 = 10, 20, 30
print(numTup2)

#numTup1.append(0) # [] => [0] => [0,0]
#numTup1[0] = 40
del(numTup1[0])
print(numTup1)

(10, 20, 30)
(10, 20, 30)

TypeError: ignored

In [ ]:
# 튜플에 접근하기

numTup1 = (10, 20, 30, 40)
print(numTup1[3])

print(numTup1[0] + numTup1[1]+ numTup1[2])

# 콜론(시작인덱스 : 끝인덱스+1) : 튜플의 범위에 접근하기

print(numTup1[1:3]) # [1:2] 출력

print(numTup1[1:])

print(numTup1[:3]) # 0~2

# 튜플의 더하기 및 곱하기 연산
numTup2 = ('A', 'B')
print(numTup1 + numTup2)

print(numTup2 * 3)

40
60
(20, 30)
(20, 30, 40)
(10, 20, 30)
(10, 20, 30, 40, 'A', 'B')
('A', 'B', 'A', 'B', 'A', 'B')

In [ ]:
# 튜플과 리스트의 상호 변화

myTuple = (10,20,30)
myList = list(myTuple)
print(myList)

myList.append(40)
print(myList)

myTuple = tuple(myList)
print(myTuple)

[10, 20, 30]
[10, 20, 30, 40]
(10, 20, 30, 40)

AttributeError: ignored

## 14주차 3강 < 딕셔너리 활용하기 >

### (1)딕셔너리의 생성과 삭제

In [ ]:
# 1. 회사원 홍길동의 정보를 딕셔너리로 생성하기

empDict = {'사번':1000, '이름':'홍길동','부서':'케이팝'}
print(empDict)

# 2. 딕셔너리에 정보를 더 추가하기 
empDict['연락처'] = '010-0000-0000'
print(empDict)

# 3. 정보를 추가할 때 이미 키가 딕셔너리에 존재하는 경우
empDict['부서'] = '디지털대학교'
print(empDict)

# 4. 딕셔너리의 키는 중복되지 않고 유일함
empDict2 = {'사번':1000, '이름':'홍길동','사번':2000}
print(empDict2)

# 5. 딕셔너리의 쌍을 삭제하기
del(empDict['부서'])
print(empDict)

{'사번': 1000, '이름': '홍길동', '부서': '케이팝'}
{'사번': 1000, '이름': '홍길동', '부서': '케이팝', '연락처': '010-0000-0000'}
{'사번': 1000, '이름': '홍길동', '부서': '디지털대학교', '연락처': '010-0000-0000'}
{'사번': 2000, '이름': '홍길동'}
{'사번': 1000, '이름': '홍길동', '연락처': '010-0000-0000'}

###(2) 딕셔너리 사용하기

In [ ]:
#(1) 딕셔너리에 접근하기
empDict = {'사번':1000, '이름':'홍길동', '부서':'케이팝' }

print(empDict['부서'])

#(2) 딕셔너리와 관련된 유용한 함수

# 딕셔너리이름.keys() : 딕셔너리의 모든 키만 뽑아서 반환함

empDict.keys()

# list(딕셔너리이름.keys()) : 출력 결과에 dict_keys가 붙지 않음 # 리스트로 변환
list(empDict.keys())

# 딕셔너리이름.values() : 딕셔너리의 모든 값을 리스트로 만들어서 반환함
empDict.values()

# 딕셔너리이름.items() : 튜플 형태로 구하기
empDict.items()

# in : 딕셔너리 안에 키가 있는지는 확인이 가능함 
'주소' in empDict

# 딕셔너리에 저장된 것을 한 건씩 출력하려면 for문을 사용

for key in empDict.keys() :
  print(key, empDict[key])

케이팝
사번 1000
이름 홍길동
부서 케이팝